<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 상세보기</title>
    <link rel="stylesheet" href="/css/css.css"/>
</head>
<body>
<!-- 헤더 부분 -->
<div th:insert="fragments/header :: header"></div>

<!-- 메인 콘텐츠 부분 -->
<main>
    <h2 th:text="${product.productName}">상품명</h2>
    <img th:src="@{${product.imageUrl}}" alt="상품 이미지"/>
    <p>카테고리: <span th:text="${product.category}"></span></p>
    <p>가격: <span th:text="${product.price}"></span> 원</p>
    <p>할인: <span th:text="${product.discount}"></span>%</p>
    <p>포인트: <span th:text="${product.points}"></span>P</p>

    <form action="/market/cart/add" method="post">
        <input type="hidden" th:value="${product.id}" name="productId"/>
        <label for="quantity">수량:</label>
        <input type="number" id="quantity" name="quantity" min="1" value="1"/>
        <button type="submit">장바구니에 추가</button>
    </form>
</main>

<!-- 어사이드 부분 -->
<div th:insert="fragments/aside :: aside"></div>

<!-- 푸터 부분 -->
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
